<!DOCTYPE html>
<html lang="en">
</html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  {% block head %}
    <title>{{ title }}</title>
  {% endblock %}

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/css/my.css" type="text/css" rel="stylesheet"/>
</head>

<body>
<!-- Navbar -->
  <header>
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container "><a id="logo-container" href="/index" class="brand-logo">Hydrobase</a>
        <ul class="right hide-on-med-and-down">
        {% block nav %}
        {% endblock %}
        </ul>
      </div>
    </nav>
  </header>
  
  <!-- Body -->
  <main>
  {% block contents %}
  {% endblock %}
  </main>

  <!-- footer -->
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <p class="grey-text center text-lighten-4">Made with love at Berkeley by Bryan, Josh, Juan, Robin and Anubhav.</p>
        </div>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../static/js/materialize.js"></script>
  <script src="../static/js/init.js"></script>
  <script src="../static/js/my.js"></script>
  <script>
    $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
  </script>

  </body>
</html>