{% extends "base_m.html" %}
{% block nav %}
  <li><a href="/login">Login</a></li>
  <li><a href="/signup">Signup</a></li>
{% endblock %}
{% block contents %}
  <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <h1 class="header center orange-text">Hydrobase</h1>
        <div class="row center">
          <h5 class="header col s12 light">Hydrobase is a free, flexible and visual way for you to control, analyze and improve upon your hydroponics growing system.</h5>
        </div>
        <!-- <div class="row center">
          <a href="/signup" id="download-button" class="btn-large waves-effect waves-light orange">Sign Up</a>
        </div> -->
        <br><br>

      </div>
    </div>


    <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
              <h5 class="center">Create A Platform Agnostic IoT Hydroponic Control System</h5>

              <p class="light">There are a number of different platforms emerging but they all suffer from the same flaw, the software and hardware are so tightly integrated that individuals either, have no freedom of how to use the product, or need to completely hack the system. This control system is designed to allow the user more flexibility in platform configuration, as well as assist in platform construction.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
              <h5 class="center">Support Urban Agriculture</h5>

              <p class="light">There is increasing interest in urban agriculture and this system could support these initiatives. Urban Agriculture often uses hydroponic systems because of either space constraints or environmental constraints, subsequently this project would assist efforts already underway.This system is specifically targeted at Small Scale DIY to Medium Scale Urban Agriculture customers who are interested in automating the gardening/farming experience.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">Support Agricultural Experimentation</h5>

              <p class="light">Finally this system would also assist in agricultural experimentation and knowledge sharing. There are a number of different factors that contribute to a plant's success and exploring what is most beneficial has been the subject of much study. This system will help by allowing customers to contribute in a citizen scientist fashion, automating much of the experiment design and data collection. By automating the more monotonous aspects of experiment design and execution the system will empower more individuals to contribute to science.</p>
            </div>
          </div>
        </div>

      </div>
      <br><br>

      <div class="section">

      </div>
    </div>
{% endblock %}